<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        Concurso Exhibición Nutresa
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>


<body>

<div class="confirmed-card">

    <div class="confirmed-icon">
        ⚠️
    </div>

    <h2>
        Ocurrió un problema
    </h2>

    <p>
        No fue posible conectar con el sistema.
    </p>

    <small>
        {{ error }}
    </small>

</div>

</body>

</html>